/* colors 71AA97 478D76 267158 0E553E 003926 */

/* -------other-------- */
body {
  background-color: #267158;
  font-family: 'Poppins';
}

/* -------profile page-------- */
.profile-name {
  font-family: 'Poppins';
  font-size: 24px;
  color: #333333;
  line-height: 1.2;
  text-align: center;

  width: 100%;
  display: block;
  padding-bottom: 54px;
}
/* ----- home and find events ------*/
/* .slide */
.slide {
  width: 80px;
  height: 26px;
  background: #333;
  margin: 20px auto;
  position: relative;
  border-radius: 50px;
  -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.2);
          box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.2);
}
.slide:after {
  content: 'OFF';
  color: #000;
  position: absolute;
  right: 10px;
  z-index: 0;
  font: 12px/26px Arial, sans-serif;
  font-weight: bold;
  text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.15);
}
.slide:before {
  content: 'ON';
  color: #27ae60;
  position: absolute;
  left: 10px;
  z-index: 0;
  font: 12px/26px Arial, sans-serif;
  font-weight: bold;
}
.slide label {
  display: block;
  width: 34px;
  height: 20px;
  cursor: pointer;
  position: absolute;
  top: 3px;
  left: 3px;
  z-index: 1;
  background: #fcfff4;
  /* background: -webkit-gradient(linear, left top, left bottom, from(#fcfff4), color-stop(40%, #dfe5d7), to(#b3bead)); */
  background: linear-gradient(to bottom, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  border-radius: 50px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
}
.slide input[type=checkbox] {
  visibility: hidden;
}
.slide input[type=checkbox]:checked + label {
  left: 43px;
}
/* end .slide */

.event-tinder {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
   /* grid-auto-rows: minmax(100px, auto); */
  /* grid-auto-rows: 400px; */
  grid-gap: 20px;
  /* overflow: auto; */
  height: 600px;
}
#categories {
  grid-column: 3 / 4;
}
#write-in {
  grid-column: 1 / 2;
}
/* .event-filter-form {
  width: 500px;
  grid-column: 2 / 3;
  overflow: auto;
  height: 600px;
} */
#free-events-only {
  grid-column: 2 / 3;
}

.Event-List {
  margin-top: 10px;
  display:grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 60px;
}

.Event-Card {
  border: 5px solid #003926;
  background-color: #0E553E;
  border-collapse:collapse;
  overflow: auto;
  height: 450px;
  border-radius: 10px;
  color: #ffffff;
  margin-left: 30px;
  margin-left: 30px;
}

/* ----- logo ------*/
.App-logo-bounce {
  height: 300px;
  animation-name: bounceIn;
  animation-duration: 2s;
  animation-iteration-count: 1;
  margin-top: 100px;
}

@keyframes bounceIn {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

/* ----- login page ------*/
.login100-form {
  width: 350px;
}

.wrap-input100 {
  position: relative;
  width: 100%;
  z-index: 1;
  margin-top: 20px;
  margin-bottom: 10px;
}

.input100 {
  font-family: 'Poppins';
  font-size: 15px;
  line-height: 1.5;
  color: #666666;

  display: block;
  width: 100%;
  background: #e6e6e6;
  height: 50px;
  border-radius: 25px;
  border-color: #71AA97;
  padding: 0 30px 0 68px;
}

.focus-input100 {
  display: block;
  position: absolute;
  border-radius: 25px;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  color: rgba(87,184,70, 0.8);
}

.symbol-input100 {
  font-size: 15px;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  position: absolute;
  border-radius: 25px;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-left: 35px;
  pointer-events: none;
  color: #666666;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.input100:focus + .focus-input100 + .symbol-input100 {
  color: #267158;
  padding-left: 28px;
}

.input100-submit {
  font-family: 'Poppins';
  font-size: 15px;
  line-height: 1.5;
  color: #666666;

  display: block;
  width: 100%;
  background: #267158;
  height: 50px;
  border-radius: 25px;
  border-color: #71AA97;
  padding: 0 20px 0 68px;
}

.login100-form-submit {
  font-family: 'Poppins';
  font-size: 15px;
  line-height: 1.5;
  color: #fff;

  width: 300px;
  height: 50px;
  border-radius: 25px;
  border-color: #71AA97;
  background: #003926;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.login100-form-submit:hover {
  background: #333333;
}

/* --------placement------- */
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.right {
  float: right
}

.left {
  float: left
}

/* --------navbar------- */
#navbar {
  background: #71AA97;
  padding: 12px;
  border-radius: 5px;
}

.nav-link {
  margin-left: 6px;
  margin-right: 6px;
  color: #0E553E;
}

/* --------------- */

/* @keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes App-logo-zoom-out {
  from { transform: scale(1.5,1.5); }
  to { transform: scale(1,1); }
}  */
